* {
    font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
    /* font-size: 60px; */
    /* font-weight: 700; */
    /* letter-spacing: -4px; */
}

body {
    background-color: #212224;
    color: #fff;
}

.row {
    display: flex;
}

.lg-container {
    /* background-color: #f2f2f229; */
    max-width: 500px;
    margin: 20px auto;
}

/* Set Margin */
.ml-auto {
    margin-left: auto;
}

.vertical-center {
    align-items: center;
}

.mt-100 {
    margin-top: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-25 {
    margin-top: 35px;
}
/* End Set Margin */

/* Navigation */
.fixed {
    position: fixed;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    display: flex;
    border-radius: 50px;
    background-color: #343639;
    padding: 7px;
}

.center {
    margin: auto;
}

.nav-link {
    color: #fff;
    /* background-color: #5d5d5d; */
    height: 18px;
    padding: 15px;
    border-radius: 100%;
    margin-right: 10px;
}

.nav-link:hover {
    background-color: #202020;
}

.nav-link.active {
    color: #000;
    background-color: #fff;
}

.nav-link:last-child {
    margin-right: 0px;
}

/* Tooltip */
.tooltip-text {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    padding: 9px 24px;
    margin-top: -10px;
    margin-left: 32px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* End Tooltip */

/* End Navigation */

/* Header Alert */
.header-alert {
    width: 100%;
    display: flex;
}

.bg-point {
    width: 14px;
    height: 14px;
    background-color: #ffffff1a;
    border-radius: 100%;
    margin: auto 8px;
    margin-left: 0;
}

.point {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #26ea69;
    border-radius: 100%;
    margin: 3px;
}

.header-alert-text {
    font-size: 16px;
    font-weight: 500;
}

/* End header Alert */

/* Header title */
.title {
    margin: 26px 0;
    font-size: 30px;
    font-weight: 700px;
}

.title h1 {
    margin: auto;
    letter-spacing: -4px;
    line-height: 65px;
}

.title .color-secondary {
    color: #26ea69;
}

/* End header title */

/* Button */
.btn {
    display: flex;
    background-color: #ffffff1a;
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 20px;
    color: #fff;
    margin-right: 12px;
}

.btn:last-child {
    margin-right: 0px;
}

.btn:hover {
    /* transition: 0.2s all ease-in-out; */
    transform: scale(1.05);
}

.btn .icon {
    width: 16px;
    height: 16px;
    margin: 8px 8px;
}

.btn .btn-text {
    font-size: 16px;
    font-weight: 800;
    margin: auto 12px;
}

.btn-search {
    width: 16px;
    height: 16px;
    background-color: #ffffff1a;
    border-radius: 100%;
    padding: 16px;
    color: #fff;
}

/* End Button */

/* description */
.description {
    color: rgb(94, 94, 94);
}

.text-justify {
    text-align: justify;
}

/* End Description */


/* Card */
.card-row {
    max-width: 100%;
    /* margin: 20px auto; */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.card-row-mini {
    max-width: 100%;
    /* margin: 20px auto; */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    /* width: 50%; */
    /* height: 300px; */
    background: #ffffff1a;
    text-align: center;
    border-radius: 8px;
    padding: 12px 12px 8px 12px;
}

.card:hover {
    transition: 0.2s all ease;
    transform: scale(1.05);
}

.card-header {
    display: flex;
}

.badge {
    border: 0.5px solid #ffffff1a;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 12px;
    margin: auto;
}

.card-body {
    height: 100%;
}

.card-body .title {
    margin: 12px 0 6px;
    font-size: 14px;
}

.card-body .description {
    font-size: 12px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 6px;
}

/* End Card */

/* Form */
.form-data {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.form-group .form-control {
    flex-basis: 0;
    flex-grow: 1;
}

.form-control {
    width: 100%;
    color: #fff;
    background-color: #343639;
    border: 0;
    border-radius: 6px;
    padding: 14px 16px;
    margin-right: 6px;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-submit {
    width: 100%;
    color: #343639;
    background-color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 14px 16px;
    margin-right: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.form-control:last-child {
    margin-right: 0;
}

.form-control:active, .form-control:hover {
    border: 0;
}
/* End Form */

/* Additional */
hr {
    border-bottom: 1px;
    color: rgb(94, 94, 94);
}

.h-10 {
    height: 10px;
}

.mx-md {
    margin: 20px 0;
}

.mx-lg {
    margin: 45px 0;
}
/* End Additional */

/* Setting auto layout then up to 675px */
@media (min-width: 675px) {

    /* Part of navbar */
    .fixed {
        top: 50%;
        left: 55px;
        /* transform: translate(-50%, -50%); */
    }

    .fixed>.navbar {
        display: grid;

    }

    .fixed .nav-link {
        margin: 0;
        margin-bottom: 10px;
    }

    .fixed .nav-link:last-child {
        margin-bottom: 0;
    }

    /* End part of navbar */

}

/* Setting auto layout then max-width: 675px */
@media (max-width: 675px) {
    .lg-container {
        margin-bottom: 20%;
    }

    .navbar:last-child {
        display: none;
    }

    .tooltip-text {
        display: none;
    }

    .title {
        margin: 26px 0;
        font-size: 20px;
        font-weight: 700px;
    }

    .title h1 {
        line-height: 50px;
        letter-spacing: 0px;
        
    }
}

/* Setting auto layout then max-width: 576px */
@media (max-width: 576px) {
    .header-alert {
        /* position: relative; */
        background-color: #000;
        padding: 6px 0;
        padding-left: 8px;
        border-radius: 4px;
    }

    .header-alert p {
        margin: 0;
    }

    .btn .btn-text {
        display: none;
    }

    .lg-container {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 15px;
        margin-bottom: 35%;
    }

    .w-sm-center {
        text-align: center;
        justify-content: center;
    }

    .card-row {
        max-width: 100%;
        margin: 20px auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-row-mini {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer.row {
        display: block;
    }

    .footer a {
        color: #aaa;
    }
}

.copyright {
    color: #666;
}

.link-none {
    text-decoration: none;
}

/* Animation */
/* .slidein {
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        bottom: 100%;
        height: 300px;
    }

    to {
        bottom: 0%;
        height: 100px;
    }
} */